name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v22

      - name: Run checks
        run: nix flake check

      - name: Check formatting
        run: nix run nixpkgs#nixpkgs-fmt -- . --check
