name: pages

on:
  push:
    branches:
      - main

concurrency: pages

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v25

      - name: Setup pages
        uses: actions/configure-pages@v5

      - name: Build docs
        run: |
          nix build ./docs
          cp -r --no-preserve=all result/ _site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    name: deploy
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      id-token: write
      pages: write
    steps:
      - name: Deploy pages
        id: deployment
        uses: actions/deploy-pages@v4
